---
import ProjectsList from "../components/ProjectsList.astro"
// import AnimatedBottomBorderLink from "../components/AnimatedBottomBorderLink"
import BaseLayout from "../layouts/BaseLayout.astro"

const metaUrl = "https://mhamza.dev"
---

<BaseLayout>
    <meta slot="head" name="og:url" content={metaUrl} />
    <meta slot="head" name="twitter:url" content={metaUrl} />

    <style lang="scss" slot="head">
        .link-button {
            max-height: 48px;
            max-width: 48px;

            &#resume-icon {
                height: 50px;
                width: 50px;
            }
        }

        .data-section {
            @apply flex flex-col gap-10 content-center items-center justify-center mt-24;
        }
    </style>

    <main>
        <section class="data-section">
            <h1 class="text-center">
                Hi, I am
                <span class="text-pink-700 dark:text-pink-500"
                    >Amna Tausif.</span
                >
            </h1>
            <h2>Data entry and analysis expert</h2>
            <p class="-mt-7 text-lg">and a teacher.</p>

            <div class="flex justify-center gap-4">
                <!-- <AnimatedBottomBorderLink href="#" ariaLabel="My Resume">
                <ResumeIcon className="w-12" />
            </AnimatedBottomBorderLink> -->
            </div>
        </section>

        <section class="data-section" id="projects">
            <h2>Projects</h2>

            <ProjectsList />
        </section>

        <section class="data-section" id="skills">
            <h2>Skills</h2>

            <div class="grid grid-cols-2 gap-5 md:grid-cols-3">
                <span class="tag">Data entry</span>
                <span class="tag">Copy/pasting</span>
                <span class="tag">Data analysis</span>
                <span class="tag">Microsoft Excel</span>
                <span class="tag">Microsoft Word</span>
                <span class="tag">Data scrapping</span>
            </div>
        </section>

        <section class="data-section mb-12" id="contact">
            <h2>Contact</h2>

            <div>
                <a href="mailto:amnatausif19@gmail.com" class="contact-button">Email</a>
            </div>
        </section>
    </main>
</BaseLayout>
